<a href="https://colab.research.google.com/github/aaronverive/Coursera_Capstone/blob/master/Coursera_Capstone_Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this notebook will be mainly used for the capstone project.

In [0]:
import pandas as pd
import numpy as np

## Import data and create data frame

In [0]:

r = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(r.text, 'html.parser')
table=soup.find('table', attrs={'class':'wikitable sortable'})

In [0]:
headers=table.findAll('th')
for i, head in enumerate(headers): headers[i]=str(headers[i]).replace("<th>","").replace("</th>","").replace("\n","")

In [0]:

rows=table.findAll('tr')
rows=rows[1:len(rows)]

In [0]:
for i, row in enumerate(rows): rows[i] = str(rows[i]).replace("\n</td></tr>","").replace("<tr>\n<td>","")

In [0]:
df=pd.DataFrame(rows)
df[headers] = df[0].str.split("</td>\n<td>", n = 2, expand = True) 
df.drop(columns=[0],inplace=True)

In [0]:
df = df.drop(df[(df.Borough == "Not assigned")].index)

In [0]:
df.Neighborhood.replace("Not assigned", df.Borough, inplace=True)

In [0]:
df.Neighborhood.fillna(df.Borough, inplace=True)

In [0]:
df=df.drop_duplicates()

In [0]:
df.update( df.Neighborhood.loc[lambda x: x.str.contains('title')].str.extract('title=\"([^\"]*)',expand=False))

df.update(df.Borough.loc[ lambda x: x.str.contains('title')].str.extract('title=\"([^\"]*)',expand=False))

In [0]:
df.update(df.Neighborhood.loc[lambda x: x.str.contains('Toronto')].str.replace(", Toronto",""))
df.update(df.Neighborhood.loc[lambda x: x.str.contains('Toronto')].str.replace("\(Toronto\)",""))

In [17]:
df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto       Regent Park
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [24]:
df.shape[0]

210

## Cleaning up the data

In [18]:
df2 = pd.DataFrame({'Postcode':df.Postcode.unique()})
df2['Borough']=pd.DataFrame(list(set(df['Borough'].loc[df['Postcode'] == x['Postcode']])) for i, x in df2.iterrows())
df2['Neighborhood']=pd.Series(list(set(df['Neighborhood'].loc[df['Postcode'] == x['Postcode']])) for i, x in df2.iterrows())
df2['Neighborhood']=df2['Neighborhood'].apply(lambda x: ', '.join(x))
df2.dtypes

Postcode        object
Borough         object
Neighborhood    object
dtype: object

In [19]:
df2.head()

  Postcode                 Borough                      Neighborhood
0      M3A              North York                         Parkwoods
1      M4A              North York                  Victoria Village
2      M5A        Downtown Toronto                       Regent Park
3      M6A              North York  Lawrence Manor, Lawrence Heights
4      M7A  Queen's Park (Toronto)                     Queen's Park

In [20]:
df2.shape[0]

103

## Add latitude and longitude

In [21]:
#add Geo-spatial data
df3= pd.read_csv("http://cocl.us/Geospatial_data")
df3.rename(columns={'Postal Code':'Postcode'}, inplace=True)
df3.set_index("Postcode")
df2.set_index("Postcode")
toronto_data=pd.merge(df2, df3)
toronto_data.head()

  Postcode                 Borough  ...   Latitude  Longitude
0      M3A              North York  ...  43.753259 -79.329656
1      M4A              North York  ...  43.725882 -79.315572
2      M5A        Downtown Toronto  ...  43.654260 -79.360636
3      M6A              North York  ...  43.718518 -79.464763
4      M7A  Queen's Park (Toronto)  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [22]:
toronto_data.head(12)

   Postcode                 Borough  ...   Latitude  Longitude
0       M3A              North York  ...  43.753259 -79.329656
1       M4A              North York  ...  43.725882 -79.315572
2       M5A        Downtown Toronto  ...  43.654260 -79.360636
3       M6A              North York  ...  43.718518 -79.464763
4       M7A  Queen's Park (Toronto)  ...  43.662301 -79.389494
5       M9A        Downtown Toronto  ...  43.667856 -79.532242
6       M1B    Scarborough, Toronto  ...  43.806686 -79.194353
7       M3B              North York  ...  43.745906 -79.352188
8       M4B               East York  ...  43.706397 -79.309937
9       M5B        Downtown Toronto  ...  43.657162 -79.378937
10      M6B              North York  ...  43.709577 -79.445073
11      M9B               Etobicoke  ...  43.650943 -79.554724

[12 rows x 5 columns]